<a href="https://colab.research.google.com/github/Hritesh-Moitra/Hritesh-Moitra/blob/main/HriteshmoitraAssignmentweek8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##q1 List down the definitions and differences between the different data collection types in python


''' Data types in python:-
1. Integers:- Integers are numeric values stored in variables as whole numbers.
2. Float:- Float values are also numeric values stored in variables but as decimal numbers.
3. List:- List is a sequnce of items and not necessarily contain the same data types values in it, they are mutable and order matters in lists.
4. Tuples:- Tuples are similar to list just with a difference that they are immutable , that is , once created the values in them cannot be altered.
5. Strings:- Strings are a sequence of characters enclosed in double quotes or single codes, they can contain special characters as well.
6. Set:- It is an unordered collection of unique items and is seperated by commas inside curly braces.{}
7. Dictionary:- It is an unordered collection of key and pair values; where each key is unique but values can be duplicate. A dictionary is generally used when we have large amount of data.'''

In [ ]:
##q2 What does average represent at the end of the execution ?

total,count= 0,0

for i in range(1000):
    if i%2 != 0 and count <= 50:
        total = total + i
        count = count + 1
average = total / count ##it is giving the output of first 51 odd numbers
print(average)

51.0

In [ ]:
##q3 How many asterisks does the following code print ?


i = -3
count1=0
count2=0
while (i<=13):
    print('**')
    print('*')
    i = i+1

for i in range(1,18):
  count1=i*2 
  count2=i*1

final_count_of_stars=count1 + count2
print(final_count_of_stars)  ##51 will be the total count

**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
**
*
51

In [ ]:
##q4 List Operations

'''Given two lists, write a program to perform the following operations on the lists;
- Union
- Intersection
- Left Difference
- Right Difference'''

l1=['Hritesh', 23 , 'Odin', 'Data Science']
l2=['This', 'Bootcamp is' , 10 , 'out of 10']
print(set(l1).union(set(l2)))
print(set(l1).intersection(set(l2)))
print(set(l1).difference(set(l2))) ##this implies elements present in set l1 but not in l2 (right difference when set L1 is on left side)
print(set(l2).difference(set(l1))) ##this implies elements present in set l2 but not in l1(left difference when set l2 is on right side)

{'Odin', 'Data Science', 'Bootcamp is', 'Hritesh', 10, 'This', 'out of 10', 23}
set()
{'Odin', 'Hritesh', 23, 'Data Science'}
{'out of 10', 'Bootcamp is', 10, 'This'}

In [ ]:
##q5 Write a regex program that matches a string that has an 'a' followed by two or three 'b'.
import re
str='dabacabbabbbb'
x= re.search('abb' , str)
y= re.search('abbb', str)
print(x) 
print(y)
if (x) or (y): 
  print(True)
else :
   print(False)

<re.Match object; span=(5, 8), match='abb'>
<re.Match object; span=(8, 12), match='abbb'>
True

In [ ]:
##q5 another way

import re
def patt_match(str):
  pattern= 'ab{2,3}' ##matches an a followed by 2 or 3 b
  if (re.search(pattern,str)):
    return True
  else:
    False

print(patt_match("aaabbbc"))

True

In [ ]:
##q6 Consider the following code and try to guess what the output will be.

s1= {1,2,3,4,4,1,2}
s2= {4,3,2,1}
l1 = [4,3,2,1]
l2= [1,2,3,4,4,1,2]
print(list(s1)) ##list of set S1
print(set(l1)) ##set of list L1

print(list(s1)==l2)  ##False;this will be false because for lists to be equal the lists should have same elements in same order, here although the values are same but not in same order
print(set(l1)==s2) ##True; this will be true because sets are unordered and to be equal only the values need to be the same the order doesn't matters.
print(s1==s2) ##True;this will be true because although a set contains duplicate values; if the elements are same the sets will be equal.

[1, 2, 3, 4]
{1, 2, 3, 4}
False
True
True

In [ ]:

##q7 You are a forum admin. You wish to find out the total score of each user using the scoring logic given below. If the user scores more than 50, then the user is given a Leader badge, otherwise a Basic badge is given.
##Implement the body of the function `user_score`. The function accepts 3 integer arguments- `read_count, reply_count, new_post_count`. It calculates the score based on the input counts and returns `Leader` or `Basic`.

reads=int(input()) * 1
replies=int(input()) * 3
new_posts=int(input()) * 5
print(reads + replies + new_posts)


def user_score(read_count, reply_count, new_post_count):
  if read_count + reply_count + new_post_count >50:
    return 'leader'
  else:
    return 'basic' 


user_score(reads,replies,new_posts)

10
12
15
121

'leader'