<a href="https://colab.research.google.com/github/Hritesh-Moitra/Hritesh-Moitra/blob/main/Pythonweek7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print(2+4)

6

###Integer

In [ ]:
type(250)

int

###float

In [ ]:
7.6
4E7

40000000.0

In [ ]:
type(4E7)

float

String ; collection of characters

In [ ]:
print("python is fun")
type("pythin is fun")

python is fun

str

In [ ]:
25
"25"

'25'

In [ ]:
25+25
"25" + "25" ##a + in string concatinates it.

'2525'

##BOOLEAN

In [ ]:
type(True)

bool

In [ ]:
type(5.6)

float

In [ ]:
type("hello")

str

In [ ]:
a=10
print(a)
type(a) ##because a is the variable

10

int

In [ ]:
num_num1=50
print(num_num1)
print(type(num_num1))

50
<class 'int'>

In [ ]:
num_num2="abc"
print(num_num1)
print(type(num_num2))  ##class is a keyword.

50
<class 'str'>

##keywords; reserved words we cannot use

In [ ]:
import keyword #importing keyword library
print(keyword.kwlist) #Printing the keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a="hello"
a="hi"
print(a) ## hi will be the output because hello has been updated by hi

hi

Arithemetic operators

In [ ]:
26+1

27

In [ ]:
26-1

25

In [ ]:
3/2

1.5

In [ ]:
3//2  ##//--> acts as floor division and gives whole numbers

1

In [ ]:
17%3 ##%--> gives the remainder

2

In [ ]:
num1=5
res= num1 ** 2  ## **--> is for exponent.
print(res)

25

Type conversion

In [ ]:
num1=4
num2="Hello"
res= str(num1)+ num2 ##we are using str so convert int value to string so that the result is error free and concatinated.
print(res)

4Hello

Implicit type cnversion; in implicit conversion python automatically converts one data type to another data type. Python avoids loss of data in implicit type conversion

In [ ]:
num_int=123
num_flo=1.23
num_new= num_int + num_flo
print(num_new)
type(num_new)

124.23

float

123423

Explicit conversion also called type casting ;if both the data types are different one has to be converted to anotherusing predefined functions by the user.

In [ ]:
num_int=123
num_str="423"
num_new= str(num_int) + num_str
print(num_new)

123423

In [ ]:
create_str="456"
int(create_str)
type(create_str)
create_str=456
type(create_str)

int

In [ ]:
res=5+5*6-7+(2*7)/8+9*(5**2)
print(res)

254.75

In [ ]:
num1=10
num2=20
res = num1<num2
print(res)

True

In [ ]:
num1=10
num2=10
res = num1==num2  #== is used to check whether both are equal or not
print(res)

True

In [ ]:
num1=10
num2=10
res = num1!=num2  #== is used to check whether both are equal or not
print(res)

False

In [ ]:
'''<
<=
>
>=
==
!='''  ##comparators operators givinf them in ''' quotes make sit a comment

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

##Multiline

In [ ]:
multiline="""sandeep 
is 
teaching 
python
"""   #another way of commenting is putting text in triple double quotes
print(multiline)

sandeep
is
teaching
python

In [ ]:
# qstn --> you have to declare five integer variable assign some value and print their sum and average

a={1,2,3,4,5}
print(sum(a))
avg= sum(a)/5
print(avg)

15
3.0

In [ ]:
num1=1
num2=2
num3=3
num4=4
num5=5
test_sum=(num1+num2+num3+num4+num5)
test_avg=test_sum/5
print(test_sum)
print(test_avg)

15
3.0

Index

In [ ]:
Day='Saturday'
Day[2]

't'

Length of string

In [ ]:
print(len('Saturday'))

8

In [ ]:
print(len('Saturday, is a busy day for me'))

30

List; in list we can store more than one data, it also stores values in indexes

In [ ]:
a=['hello','hi', 5 , 4, 2]
a[2]

5

##Split function

In [ ]:
str1='today is saturday and we are in python class'
res=str1.split()  ##this will convert the string into a list
print(res)

['today', 'is', 'saturday', 'and', 'we', 'are', 'in', 'python', 'class']

In [ ]:
str1='please state your name , and roll number'
res=str1.split(' , ') ##this will split the string with comma if there is a comma in the string
print(res)

['please state your name', 'and roll number']

In [ ]:
DOB="2/04/2022"
res=DOB.split("/")
print(res[2])

2022

##Stripping

In [ ]:
str1="        Hello,how,are,you"
res1=str1.lstrip()  ##lstrip; returns a left tri version of the string
print(res1)
str2 ="Hello,how,are,you      "
res2=str2.rstrip()  ##rstrip; returns a right trim version of the string
print(res2)
str3='     I am Hritesh     '
res3=str3.strip()  ##strip; returns a trim version of the string
print(res3)

Hello,how,are,you
Hello,how,are,you
I am Hritesh

##String casing

In [ ]:
str1='hello how are you'
res1= str1.capitalize() ##capitalize()--> converts the first character of the string to upper case
print(res1)
res2=str1.upper()  ##upper()--> converts the whole string to upper case
print(res2)
str2='Heelo hoo laa LAA'
res3=str2.lower() ##lower()--> converts the whole string to lower case
print(res3)

Hello how are you
HELLO HOW ARE YOU
heelo hoo laa laa

String character checking

In [ ]:
str1='hello hoe are you'
str1.endswith('are you') ##endswith-->returns true if the string ends with a specified vsalue
str1.startswith('hello') ##startswith-->returns true if the string starts with a specified vsalue

True

##String searching

In [ ]:
str1='hello how are you'
print(str1.find('h')) ##find--> search the string for a specified value and returns the first position of where it was found
print(str1.rfind('h'))  ##rfind-->search the string for a specified value and returns the last position of where it was found

0
6

### String joining

In [ ]:
a='Sandeep ' ##at last a space must be given otherwise the join won't work for the last element of the string
print('Singh  '.join(a)) ##join-->joins the elements one by one with a given string
print('singh '+ a) ##for my learning

SSingh  aSingh  nSingh  dSingh  eSingh  eSingh  pSingh
singh Sandeep

## The escape character

In [ ]:
splitstring='My name is Hrites Moitra. \nI am learning python'  ##\n = anything after \n will be printed in nexxt line
print(splitstring)

tabbedstring='1\t2\t3\t4\t5' ##\t= anything after \t will be tabbed
print(tabbedstring)

print("c:\\users\\tiger\\newfile.txt") ## \\--> double backslash should be used otherwise it will give error when not using n or t to print backslashing

My name is Hrites Moitra.
I am learning python
1	2	3	4	5
c:\users\tiger\newfile.txt

input method

In [ ]:
first_number=input("enter the first number")
second_number=input("enter the second number")
test_add=first_number + second_number
print(test_add)

enter the first number10
enter the second number20
1020

In [ ]:
first_number=int(input("enter the first number"))
second_number=int(input("enter the second number"))
test_add=first_number + second_number
print(test_add)

enter the first number10
enter the second number20
30

In [ ]:
#AND--> If all conditions are true then output will be true

res1=1
res2=11
res3=12
r=(res1>res2) and (res3>res2)
print(r)

False

In [ ]:
#or--> if any of the condition is true then output will be true
res1=1
res2=11
res3=12
r=(res1>res2) or (res3>res2)
print(r)

True

In [ ]:
##if-else

t=5
if(t>10):
  print("t is grater than 10")
else:
  print("t is smaller than 10")

t is smaller than 10

In [ ]:
a=int(input("first_num"))
b=int(input("second_num"))
if(a>b):
  print("a is grater than b")
else:
  print("a is smaller than b")

first_num10
second_num20
a is smaller than b

In [ ]:
#if-statement
print(6==18/3)

True

In [ ]:
if(7==19/3):
  print("great") ##if the condn doesnt satisfies and there is no else statement there will be no output

In [ ]:
if(7==21/3):
  print("both are equal")

both are equal

In [ ]:
if(7==19/3):
  print("great")

print("H") ##here the ouypuwill be h becausse the the condition is left

H

In [ ]:
x=int(input())
if x==5:
  print("correct")

5
correct

In [ ]:
## write a small program to identify if a student. If the student scored more than 60 passed

marks=int(input("enter marks"))
if marks>60:
  print("passed")
else:
  print("not passed")

enter marks76
passed

In [ ]:
## if-elif-else

first_num=int(input("first number"))
sec_num=int(input("second number"))
if first_num>sec_num:
  print("first number is greater")
elif first_num==sec_num:
  print("both are equal")
else:
  print("first_num is smaller")

first number20
second number30
first_num is smaller

### nested decision

In [ ]:
x=25
if x>1:
  print("more than 1")
  if x<100:
    print("less than 100")
  else:
    print("more than 100")
else:
  print("negative number")

print("all done")

more than 1
less than 100
all done

In [ ]:
##match is won or not; if won savhin scored more than 50 then great player

match_won=str(input())
score=int(input())
if match_won=="true":
  if score>50:
    print("match won, sachin is great")
  else:
    print("match won, sachin is still good")
else:
  print("lost match")

true
55
match won, sachin is great

In [ ]:
##check if the no is positive or negative or zero and display an appropriate message

num=int(input())
if num>0:
  print("num is positive")
elif num==0:
      print("num is zero")
else :
  print("num is negative")

-23
num is negative

In [ ]:
'''a student will not be allowed to sit in the exm if his/her attendance is less than 75%
Take the following input from the user
number of classes held
number of classes attended 
and print percentage of classes attended 
is student allowed to sit in exam or not'''

num_of_classes_held=int(input())
num_of_classes_attended=int(input())
percentage_of_attendance=(num_of_classes_attended/num_of_classes_held) * 100
print(percentage_of_attendance)
if percentage_of_attendance>=75:
  print("student is allowed")
else:
  print("not allowed")

200
150
75.0
student is allowed

In [ ]:
'''you have to ask length and breadth from the user and if both are equal then square else rectangle'''

length=int(input())
breadth=int(input())
if length==breadth:
  print("it is square")
else:
  print("it is rectangle")

5
4
it is rectangle

###indexing; it is only applicable in string data tyoe in python

In [ ]:
big_cat="white tiger hjkj"
print(big_cat[0:3]) #won't include the value at the third index
print(big_cat[0:6])
print(big_cat[3:5])
print(big_cat[0:9])
print(big_cat[:9:]) ## from 0th index to 8th index
print(big_cat[10:14])
print(big_cat[10:]) ## starts from 10th index and goes upto end
print(big_cat[:]) #will print the overall string

whi
white
te
white tig
white tig
r hj
r hjkj
white tiger hjkj

### negative indexing

In [ ]:
letters='abcdefghijklmnopqrstuvwxyz'
print(letters[-5:-1]) ##this will print value from -5th index to -2nd index -1 will refer to the last index of the string or 1st index from the right hand side ; here -1=z;-2=y and so on 
print(letters[-14:10]) ## here there will be no output because the range has to be in common signs
print(letters[0:6:2]) ## will print from oth index to 5th index after every 1st alternate(2) places
print(letters[0:9:3]) ## will print from oth index to 8th index after every 2nd alternate(3) places

vwxy

ace
adg

In [ ]:
##slicing backwards(::--> represents backward slashing)

letters='abcdefghijklmnopqrstuvwxyz'
backwards=letters[::-3] ## here values will be printed from 25th index and then print again element present 5 indices backward upto the 0th index
print(backwards)

zwtqnkheb

In [ ]:
letters='abcdefghijklmnopqrstuvwxyz'
backwards=letters[25::-1] ## this will reverse the whole string
print(backwards)

zyxwvutsrqponmlkjihgfedcba

In [ ]:
letters='abcdefghijklmnopqrstuvwxyz'
up_let=letters.upper()
print(up_let)
print(up_let[-7])
print(up_let[7])
print(up_let[4])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
T
H
E

In [ ]:
'''A scjool has following rules for grading system:
below 25-f
25-45 - E
45-50 -D
50 to 60-c
60-80 - B
Above 80 - A
Ask you to enter marks and print the coresponding grades'''


marks=int(input())
if marks<25:
  print("F")
elif 25<marks<=45:
  print("E")
elif 45<marks<=50:
  print("D")    
elif 50<marks<=60:
  print("C")
elif 60<marks<=80:
  print("B")
elif marks>80:
  print("A")

100
A

In [ ]:
number="9,223,372,036,854,775,807"
print(number[1::4]) ## will print elemrnts at index 1 and then leace exactly 4 elements inlucing element at 1st undex and then print the next number

,,,,,,