<a href="https://colab.research.google.com/github/Hritesh-Moitra/Hritesh-Moitra/blob/main/week7videos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Input operations

In [ ]:
def add(x,y):

  '''This function will take two areguments and return their sum'''

  return x+y

add(10,20)

30

In [ ]:
#Shift+Tab=Documentation
print(add.__doc__) ##or his function can be used to read the documentation

This function will take two areguments and return their sum

In [ ]:
name=input("please enter your name")

please enter your namePython

In [ ]:
type(name)

str

In [ ]:
num=int(input("enter a number"))
print(num)
print(type(num))

enter a number18
18
<class 'int'>

In [ ]:
salary=float(input("enter a number"))
print(salary)
print(type(salary))

enter a number18.25
18.25
<class 'float'>

In [ ]:
marks= eval(input("please enter your marks"))  ##we use the  evaluate; eval function when we are not ure of the data type like marks can be in percentage as well as iwhole number
print(marks)
print(type(marks))

please enter your marks1.25
1.25
<class 'float'>

### Output operations

In [ ]:
print("programming", "hritesh", "moitra") ##by default while priting multiple values pyhon seperates them by a space
print("ooo","lala","la", sep ="---") ## to change the default seperator from space into anything else we can change it to anything else using 'sep'

programming hritesh moitra
ooo---lala---la

In [ ]:
print("programming", end='|') ## the end argument helps to print output from two different print statements into 1 line instead of two line anything else can allso be used apart from the pipe operator
print("python")

programming|python

### Formatter

In [ ]:
name

'Python'

In [ ]:
num

18

In [ ]:
salary

10.25

In [ ]:
print('welcome {} at the age of {} he is earning {} thousands'.format(name,num,salary)) ##the format function takes the values of the variables and puts them into the curly braces

welcome Python at the age of 18 he is earning 18.25 thousands

In [ ]:
##the shortcut of format syntax

print(f'welcome {name} at the age of {num}  he is earning {salary} thousands')

welcome Python at the age of 18  he is earning 18.25 thousands

### indexing and slicing

In [ ]:
a='python is a easy language'
a

'python is a easy language'

In [ ]:
##if we want the word easy
a[12:16]

'easy'

In [ ]:
print('the string a is :' ,a , '\n')
print('\nstarting from the second element' ,a[1:])
print('\nending with the sixth element', a[:6])
print('\nstarting from the second element and ending with the sixth element' ,a[1:6])
print('\nlast element' ,a[-1])
print('\nnegative indexing', a[-6:-1])
print('\nindexes with intervals' ,a[::2])
print('\nreverse indexing', a[::-1])

the string a is : python is a easy language


starting from the second element ython is a easy language

ending with the sixth element python

starting from the second element and ending with the sixth element ython

last element e

negative indexing nguag

indexes with intervals pto saes agae

reverse indexing egaugnal ysae a si nohtyp

### conditionals

## if conditional

In [ ]:
a='python programming'
b='java programming'
print(a)
print(b)

python programming
java programming

## strings with lesser characters

In [ ]:
len_a=len(a)
len_b=len(b)
print(f'length of string A is {len_a} and length of string B is {len_b}')

length of string A is 18 and length of string B is 16

In [ ]:
if len(a)>len(b):
  print('length of variable a is greater than length of varable b and hence b is the smallest')
else:
  print('b is of greater length than a')

length of variable a is greater than length of varable b and hence b is the smallest

In [ ]:
if len(a)>len(b):print(f'length of variable {a} is greater than length of varable {b} and hence {b} is the smallest')
elif len(a)==len(b): print(f'lenth of {a} is equal to lenth of {b}')  
else: print(f'length of {a} is smaller than length of {b}')

length of variable python programming is greater than length of varable java programming and hence java programming is the smallest

### elif

In [ ]:
if len(a)>len(b):print(f'length of variable {a} is greater than length of varable {b} and hence {b} is the smallest')
elif len(a)<len(b): print(f'lenth of {a} is samller than length of {b}') 
else: print(f'lenth of {a} is equal to lenth of {b}')

length of variable python programming is greater than length of varable java programming and hence java programming is the smallest

### logical operations in conditionals

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')

if age>=18 and booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age25
have you made the bookingyes
please enjoy your movie

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if age>=18 and booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age17
have you made the bookingyes
sorry, you are not allowed

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if age>=18 and booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age25
have you made the bookingno
sorry, you are not allowed

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if age>=18 or booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age18
have you made the bookingno
please enjoy your movie

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if age>=18 or booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age15
have you made the bookingyes
please enjoy your movie

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if age>=18 or booking=='yes':
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age15
have you made the bookingno
sorry, you are not allowed

### not operator

In [ ]:
age=int(input('please enter your age'))
booking=input('have you made the booking')


if not age>=18 :  ##if age is  less than 18 then only it will allow not allows only opposite of the test conditions
  print('please enjoy your movie')
else:
  print('sorry, you are not allowed')

please enter your age15
have you made the bookingno
please enjoy your movie

### nested ifs

In [ ]:
match_won=bool(input('won if true lost if false'))
kohli_score= int(input('score'))
if match_won==True:
  if kohli_score>=80:
    print("virat contribution helped india win")
  else:print('india won')

else: print('india lost')

won if true lost if falseTrue
score85
virat contribution helped india win

In [ ]:
x=int(input('X:'))
y=int(input('Y:'))
z=int(input('Z:'))
if x>y and x>z:
  print('X is grater than both Y and Z')
else:
  if y>z:
    print('Y is greater than X and Z')
  else:
    print('Z is the greatest')

X:12
Y:13
Z:11
Y is greater than X and Z